{% extends "default.njk" %}
{% set page = page or 'home' %}

{% block pageTitle %}Home{% endblock %}

{% block content %}
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to Selenium Web Tester</h1>
				<p>Selenium Web Tester allows you to create and run test scripts easily. </p>
				<p>No need to learn or write any code.</p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<img class="img-circle" src="https://avatars0.githubusercontent.com/u/9479802?v=3&u=1781fad2e36c5c9d6bec36990fa8a02c2bc88e73&s=140" alt="Twat" />
				</div>
				<div class="col-sm-10">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<p>
						Nam congue ullamcorper libero, nec facilisis nunc aliquam id. Suspendisse
						sed interdum tellus. Aenean non accumsan velit. Etiam et ex vitae ipsum
						tincidunt fermentum convallis ac arcu. Donec pretium ut quam nec euismod.
						Quisque mollis egestas augue, a dictum enim rhoncus at. Mauris suscipit
						tincidunt vulputate. Proin sit amet risus a nulla porttitor volutpat.
						Duis eu purus non lectus posuere ornare. Aenean efficitur, justo sit
						amet tincidunt porttitor, nisl dui tincidunt nulla, ac suscipit ligula
						velit vel erat. Vivamus volutpat felis velit, quis commodo augue dapibus
						nec.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<img class="img-responsive side-by-side center-block" src="https://thumbs.dreamstime.com/z/diet-woman-eating-vegetable-salad-26750865.jpg" alt="People Salad" />
				</div>
				<div class="col-sm-6">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<img class="img-responsive side-by-side center-block" src="https://thumbs.dreamstime.com/z/obese-man-holding-bowl-vegetable-salad-29651917.jpg" alt="People Salad" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<p>
						Nam congue ligula eget arcu fringilla convallis. Quisque eu dapibus risus.
						Donec ac egestas velit, quis consequat nisi. Mauris venenatis tempus
						felis, at gravida arcu lacinia ac. Suspendisse tortor arcu, condimentum
						id augue id, interdum sollicitudin sem. Phasellus id fringilla libero.
						Phasellus finibus diam eget faucibus fringilla. Pellentesque vulputate
						leo vitae orci gravida pharetra. Duis purus ipsum, dapibus quis facilisis
						non, consectetur et orci. Duis fringilla purus in velit sodales, sed
						feugiat velit pharetra. Donec commodo tincidunt sapien, quis scelerisque
						sapien blandit vitae. Praesent elementum metus eu lacus volutpat, vel
						facilisis tellus accumsan.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<p>
						Nunc consequat urna quis elit pharetra, et imperdiet neque imperdiet.
						Donec sodales dapibus magna, in viverra urna. Integer a mattis diam.
						Donec enim urna, varius ac faucibus nec, consectetur non metus. Nunc sed
						finibus augue, in dapibus augue. Maecenas dignissim est eu ante facilisis,
						eget efficitur dolor euismod. Duis tincidunt ultricies elit, eu faucibus
						urna lobortis et. Curabitur in bibendum eros. In eget auctor ipsum, et
						eleifend orci. Pellentesque eleifend justo sit amet ex blandit accumsan.
						Fusce fermentum risus in nisi maximus euismod. Vestibulum tristique congue
						eros eget finibus. Nullam sodales faucibus mauris, sit amet posuere nisl
						fermentum ac. Sed et tempor sem, sit amet tempus lectus. Duis nisl ante,
						efficitur ac massa sit amet, posuere tristique arcu.
					</p>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
