<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="confirmation-msg">Thanks!</h1>
    <p>Your message has been received</p>
  </body>
</html>
