footer {
  padding: 10px;
  margin-top:20px;
  background-color: #f2f2f2;
}

body {
  background-color: #f9fff9;
}

a {
  color: #f5fffa;
}

footer {
  background-color: #e2f7ff;
}

ul.nav a:hover {
  background-color: #f9fff9;
  color: #333;
}

.navbar-custom {
  background-color: #008000;
}

.navbar-brand, .navbar-brand:hover {
  color: #f5fffa;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.active {
  background-color: #f9fff9;
  color: #333;
}

.active a {
  color: #333;
}

.jumbotron {
  background-color: #e2f7ff;
  border-bottom: solid;
  border-width: 2px;
  border-color: #999;
}

.img-circle {
  width: 100%;
  max-width: 160px;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
   background-color: #eff7f9;
 }

 .table-striped > tbody > tr:nth-child(odd) > td,
 .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #f9fff9;
 }

#footer-nav {
  list-style-type: none;
  text-align: center;
  text-decoration: underline;
  padding-left: 0px;
}

#content {
  padding-top: 50px;
}

#urlID {
  padding-bottom: 10px;
  padding-top: 10px;
}
