footer {
  padding: 10px;
  margin-top:20px;
  background-color: #f2f2f2;
}

body {
  background-color: #f9fff9;
}

a {
  color: #f5fffa;
}

.navbar-custom {
  background-color: #008000;
}

.navbar-brand, .navbar-brand:hover {
  color: #f5fffa;
}

.active {
  background-color: #f9fff9;
  color: #333;
}

.active a {
  color: #333;
}

ul.nav a:hover {
  background-color: #f9fff9;
  color: #333;
}

#footer-nav {
  list-style-type: none;
}

#content {
  padding-top: 50px;
}

#urlID {
  padding-bottom: 10px;
  padding-top: 10px;
}
