.navbar-default {
  background-color: green;
  color: green;
  background-image: none;
}

footer {
  padding: 10px;
  margin-top:20px;
  background-color: #f2f2f2;
}

#footer-nav {
  list-style-type: none;
}

#content {
  padding-top: 50px
}

#urlID {
  padding-bottom: 10px;
  padding-top: 10px;
}
